<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!-- 
    Required. The certificate and key to use for the web socket server. The client needs to
    trust this certificate or it will reject the connection attempt.
    -->
    <add key="WebSocketCertificatePath" value="certs\localhost.pfx" />
    <!--
    Optional. The password for the web socket server certificate file. Leave blank if no
    password has been set.
    -->
    <add key="WebSocketCertificatePassword" value="" />
    <add key="WebSocketPort" value="8082" />
    
    <!--
    Required. The certificate and key file that will be used to negotiate the DTLS connection
    with WebRtc clients. Can be the same or different to the web socket certificate.
    -->
    <add key="DtlsCertificatePath" value="certs\localhost.pem" />
    <add key="DtlsKeyPath" value="certs\localhost_key.pem" />
    
    <!-- This needs to match the certificate used for DTLS communications, it must match the DtlsCertificate specified above: 
         openssl x509 -fingerprint -sha256 -in localhost.pem 
    -->
    <add key="DtlsCertificateThumbprint" value="sha-256 C6:ED:8C:9D:06:50:77:23:0A:4A:D8:42:68:29:D0:70:2F:BB:C7:72:EC:98:5C:62:07:1B:0C:5D:CB:CE:BE:CD" />

    <!--
    Required. The media file containing the audio and video to stream to WebRtc clients.
    Ideally the file should be an mp4 container with a single audio and video stream. Different
    container types and combinations of streams have not been extensively tested.
    -->
    <add key="MediaFilePath" value="media\max_intro.mp4" />
    <!--
    Optional. If set an additional web socket end point that initiates a separate WebRtc stream
    will be created.
    -->
    <add key="TestPatternFilePath" value="media\testpattern.jpeg" />
  </appSettings>

</configuration>
